In [2]:
import pandas as pd

file = "./일별/2019.csv"
_2019 = pd.read_csv(file,encoding='cp949')

In [3]:
_2019.columns.unique()

Index(['지점', '일시', '평균기온(°C)', '최저기온(°C)', '최저기온 시각(hhmi)', '최고기온(°C)',
       '최고기온 시각(hhmi)', '강수 계속시간(hr)', '10분 최다 강수량(mm)', '10분 최다강수량 시각(hhmi)',
       '1시간 최다강수량(mm)', '1시간 최다 강수량 시각(hhmi)', '일강수량(mm)', '최대 순간 풍속(m/s)',
       '최대 순간 풍속 풍향(16방위)', '최대 순간풍속 시각(hhmi)', '최대 풍속(m/s)', '최대 풍속 풍향(16방위)',
       '최대 풍속 시각(hhmi)', '평균 풍속(m/s)', '풍정합(100m)', '평균 이슬점온도(°C)',
       '최소 상대습도(%)', '최소 상대습도 시각(hhmi)', '평균 상대습도(%)', '평균 증기압(hPa)',
       '평균 현지기압(hPa)', '최고 해면기압(hPa)', '최고 해면기압 시각(hhmi)', '최저 해면기압(hPa)',
       '최저 해면기압 시각(hhmi)', '평균 해면기압(hPa)', '가조시간(hr)', '합계 일조시간(hr)',
       '1시간 최다일사 시각(hhmi)', '1시간 최다일사량(MJ/m2)', '합계 일사량(MJ/m2)', '일 최심신적설(cm)',
       '일 최심신적설 시각(hhmi)', '일 최심적설(cm)', '일 최심적설 시각(hhmi)', '합계 3시간 신적설(cm)',
       '평균 전운량(1/10)', '평균 중하층운량(1/10)', '평균 지면온도(°C)', '최저 초상온도(°C)',
       '평균 5cm 지중온도(°C)', '평균 10cm 지중온도(°C)', '평균 20cm 지중온도(°C)',
       '평균 30cm 지중온도(°C)', '0.5m 지중온도(°C)', '1.0m 지중온도(°C)', '1.5m 지중온도(°C)',
       '3.0m 지중온도(°C)', '5.0m 지중온도(°C)', '합계 대형증발량(mm)', '합계 소형증발량(mm)',
       '9-9강수(mm)', '안개 계속시간(hr)'],
      dtype='object')

In [4]:
drop_col=['최저기온 시각(hhmi)',
       '최고기온 시각(hhmi)', '강수 계속시간(hr)', '10분 최다 강수량(mm)', '10분 최다강수량 시각(hhmi)',
       '1시간 최다강수량(mm)', '1시간 최다 강수량 시각(hhmi)', '최대 순간 풍속(m/s)',
       '최대 순간 풍속 풍향(16방위)', '최대 순간풍속 시각(hhmi)', '최대 풍속(m/s)', '최대 풍속 풍향(16방위)',
       '최대 풍속 시각(hhmi)', '풍정합(100m)', '평균 이슬점온도(°C)',
       '최소 상대습도(%)', '최소 상대습도 시각(hhmi)', '평균 증기압(hPa)',
       '평균 현지기압(hPa)', '최고 해면기압(hPa)', '최고 해면기압 시각(hhmi)', '최저 해면기압(hPa)',
       '최저 해면기압 시각(hhmi)', '평균 해면기압(hPa)', '가조시간(hr)',
       '1시간 최다일사 시각(hhmi)', '1시간 최다일사량(MJ/m2)', '합계 일사량(MJ/m2)', '일 최심신적설(cm)',
       '일 최심신적설 시각(hhmi)', '일 최심적설(cm)', '일 최심적설 시각(hhmi)', '합계 3시간 신적설(cm)',
       '평균 전운량(1/10)', '평균 중하층운량(1/10)', '평균 지면온도(°C)', '최저 초상온도(°C)',
       '평균 5cm 지중온도(°C)', '평균 10cm 지중온도(°C)', '평균 20cm 지중온도(°C)',
       '평균 30cm 지중온도(°C)', '0.5m 지중온도(°C)', '1.0m 지중온도(°C)', '1.5m 지중온도(°C)',
       '3.0m 지중온도(°C)', '5.0m 지중온도(°C)', '합계 대형증발량(mm)', '합계 소형증발량(mm)',
       '9-9강수(mm)', '안개 계속시간(hr)']

In [5]:
_2019.drop(columns=drop_col)

,지점,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),합계 일조시간(hr)
0,108,2019-01-01,-5.0,-8.2,-0.6,NaN,2.1,49.5,7.5
1,108,2019-01-02,-4.9,-8.8,0.2,NaN,1.7,42.8,8.7
2,108,2019-01-03,-3.5,-8.4,3.2,NaN,1.4,38.8,8.7
3,108,2019-01-04,-1.1,-6.2,4.1,NaN,1.2,55.5,3.9
4,108,2019-01-05,-2.8,-5.5,1.1,NaN,2.2,40.3,8.6
...,...,...,...,...,...,...,...,...,...
360,108,2019-12-27,-1.7,-4.6,2.6,NaN,2.1,45.4,9.0
361,108,2019-12-28,1.1,-3.6,6.1,NaN,2.0,47.6,5.8
362,108,2019-12-29,3.8,1.1,6.2,1.4,2.9,52.5,0.0
363,108,2019-12-30,2.7,-5.7,6.8,0.4,2.9,70.3,0.0
364,108,2019-12-31,-7.9,-10.9,-4.5,0.0,3.1,39.3,9.1

In [6]:
#read file
_2019 = pd.read_csv("./일별/2019.csv",encoding='cp949')
_2020 = pd.read_csv("./일별/2020.csv",encoding='cp949')
_2021 = pd.read_csv("./일별/2021.csv",encoding='cp949')
_2022 = pd.read_csv("./일별/2022.csv",encoding='cp949')
_2023 = pd.read_csv("./일별/2023.csv",encoding='cp949')

In [7]:
#drop col
_2019=_2019.drop(columns=drop_col)
_2020=_2020.drop(columns=drop_col)
_2021=_2021.drop(columns=drop_col)
_2022=_2022.drop(columns=drop_col)
_2023=_2023.drop(columns=drop_col)

In [8]:
#concat
data = pd.concat([_2019,_2020,_2021,_2022,_2023],axis=0)

In [9]:
data = data.reset_index(drop=True)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   지점           1826 non-null   int64
 1   일시           1826 non-null   object
 2   평균기온(°C)     1826 non-null   float64
 3   최저기온(°C)     1825 non-null   float64
 4   최고기온(°C)     1826 non-null   float64
 5   일강수량(mm)     747 non-null    float64
 6   평균 풍속(m/s)   1824 non-null   float64
 7   평균 상대습도(%)   1826 non-null   float64
 8   합계 일조시간(hr)  1822 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 128.5+ KB

In [11]:
data = data.fillna(0)

In [12]:
data.describe()

,지점,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),합계 일조시간(hr)
count,1826.0,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000
mean,108.0,13.605422,9.516156,18.367525,3.889923,2.250876,63.357667,6.322673
std,0.0,10.380334,10.690777,10.344576,13.518892,0.670981,15.036885,3.996782
min,108.0,-14.900000,-18.600000,-10.700000,0.000000,0.000000,17.900000,0.000000
25%,108.0,5.225000,0.700000,9.600000,0.000000,1.800000,52.400000,2.500000
50%,108.0,14.400000,9.800000,19.850000,0.000000,2.100000,63.700000,7.300000
75%,108.0,22.900000,19.100000,27.300000,0.400000,2.600000,73.800000,9.500000
max,108.0,31.700000,27.900000,36.800000,176.200000,6.000000,99.300000,13.600000

In [34]:
data.to_csv('weather.csv',index='False')

In [13]:
data = data.drop(columns=['지점'])

In [14]:
data['일시'] = pd.to_datetime(data['일시'], errors='coerce')

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일시           1826 non-null   datetime64[ns]
 1   평균기온(°C)     1826 non-null   float64
 2   최저기온(°C)     1826 non-null   float64
 3   최고기온(°C)     1826 non-null   float64
 4   일강수량(mm)     1826 non-null   float64
 5   평균 풍속(m/s)   1826 non-null   float64
 6   평균 상대습도(%)   1826 non-null   float64
 7   합계 일조시간(hr)  1826 non-null   float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 114.2 KB

In [16]:
data

,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),합계 일조시간(hr)
0,2019-01-01,-5.0,-8.2,-0.6,0.0,2.1,49.5,7.5
1,2019-01-02,-4.9,-8.8,0.2,0.0,1.7,42.8,8.7
2,2019-01-03,-3.5,-8.4,3.2,0.0,1.4,38.8,8.7
3,2019-01-04,-1.1,-6.2,4.1,0.0,1.2,55.5,3.9
4,2019-01-05,-2.8,-5.5,1.1,0.0,2.2,40.3,8.6
...,...,...,...,...,...,...,...,...
1821,2023-12-27,1.5,-2.8,6.8,0.0,1.4,76.6,8.2
1822,2023-12-28,1.2,-1.7,4.4,0.0,1.6,69.5,8.1
1823,2023-12-29,1.3,-1.5,4.6,0.0,1.7,71.0,1.8
1824,2023-12-30,0.6,-0.9,2.1,13.1,2.6,92.0,0.0
1825,2023-12-31,2.1,0.6,4.3,4.7,2.0,95.5,0.6

In [21]:
new_columns=['일시', '평균기온', '최저기온', '최고기온', '일강수량', '평균풍속', '평균상대습도', '합계일조시간']

In [17]:
data.columns

Index(['일시', '평균기온(°C)', '최저기온(°C)', '최고기온(°C)', '일강수량(mm)', '평균 풍속(m/s)',
       '평균 상대습도(%)', '합계 일조시간(hr)'],
      dtype='object')

In [22]:
data.columns = new_columns

In [23]:
data

             일시  평균기온  최저기온  최고기온  일강수량  평균풍속  평균상대습도  합계일조시간
0    2019-01-01  -5.0  -8.2  -0.6   0.0   2.1    49.5     7.5
1    2019-01-02  -4.9  -8.8   0.2   0.0   1.7    42.8     8.7
2    2019-01-03  -3.5  -8.4   3.2   0.0   1.4    38.8     8.7
3    2019-01-04  -1.1  -6.2   4.1   0.0   1.2    55.5     3.9
4    2019-01-05  -2.8  -5.5   1.1   0.0   2.2    40.3     8.6
...         ...   ...   ...   ...   ...   ...     ...     ...
1821 2023-12-27   1.5  -2.8   6.8   0.0   1.4    76.6     8.2
1822 2023-12-28   1.2  -1.7   4.4   0.0   1.6    69.5     8.1
1823 2023-12-29   1.3  -1.5   4.6   0.0   1.7    71.0     1.8
1824 2023-12-30   0.6  -0.9   2.1  13.1   2.6    92.0     0.0
1825 2023-12-31   2.1   0.6   4.3   4.7   2.0    95.5     0.6

[1826 rows x 8 columns]

In [24]:
data.to_csv('weather_.csv',index='False')